 

#addToCartBtnInCompare {
  padding: 0.9rem 3rem 0.9rem 3rem;
  border: none;
  background-color: #042b57;
  color: white;
  font-weight: 600;
  border-radius: 0.3rem;
}

#addToCartBtnInComparedisabled {
  padding: 0.9rem 3rem 0.9rem 3rem;
  border: none;
  background-color: #042b578a;
  color: white;
  font-weight: 600;
  border-radius: 0.3rem;
}
 