<style>
    #aboutouter {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    p {
        margin-top: 3rem;
    }
</style>


<div id="aboutouter">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-uppercase">about us</h1>
                <p>
                    Welcome to Gaming PInk, the ultimate destination for all your gaming needs. Whether you're looking to buy a new PC or laptop, or just need the latest games and accessories, we've got you covered.

                    We pride ourselves on offering the best selection of products at the most competitive prices, so you can rest assured that you're getting the best value for your money. We also offer a hassle-free returns policy, so if you're not completely satisfied with your purchase, you can return it for a refund.

                    If you have any questions about our products or services, please don't hesitate to contact us. Our friendly and knowledgeable staff are always happy to help. Thank you for choosing Gaming PInk!


                </p>
                <hr>
                <div>
                    <img src="/user/assets/images/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>