<style>
    * {
        user-select: none;
    }
</style>

<link rel="stylesheet" href="/user/assets/stylesheets/status.css">




<div class="comtainer">
    <div class="row">
        <div class="col-12">
            <div id="orderSuccessOuter">
                <div>
                    <img src="/user/assets/images/payment_cancelled.jpg" alt="">
                    <h3 class="text-uppercase text-center">Payment cancelled!</h3>
                    <a href="/">
                        <button class="text-uppercase">Go Back to home</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>