{{!-- Header start --}}
<header class="header-style-1">

    <div class="main-header" style="background-color: #042b57;">
        <div class="container">
            <div class="row">

                {{!-- Logo START --}}
                <div class="col-xs-9 col-sm-6 col-md-3 logo-holder" style="text-align: left;">
                    <div class="logo"> <a href="home.html"> <img src="/images/logo.png" alt="logo">
                            <h1 class="logotxt">Gaming Pink</h1>
                        </a> </div>
                </div>
                {{!-- logo END --}}

                {{!-- Profile Start --}}
                <div class="col-xs-3 col-sm-6 col-md-9  ">
                    <div class="Profile">
                        <div class="">
                            <div class="dropdown ">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa-solid fa-user"></i>
                                </button>
                                <i class="fa-solid fa-caret-down " style="color:white;"></i>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <ul>
                                        <li><a href="">Proflie</a></li>
                                        <li><a href="">Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- Profile End --}}

                {{!-- SearchArea Start --}}
                <div class="col-lg-10 col-md-12 col-sm-8 col-xs-12 top-search-holder pt-4">
                    <div class="search-area bg-danger">
                        <form>
                            <div class="control-group ">
                                <input class="search-field " placeholder="Search here..." name="Search" />
                                <button style="float:right;" class="srchbtn">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
                {{!-- SearchArea End --}}

            </div>
        </div>
    </div>



    {{!-- NAVBAR Start --}}
    <div class="header-nav animate-dropdown" style="background-color: #042b57;">
        <div class="container">
            <div class="yamm navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                </div>
                <div class="nav-bg-class">
                    <div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
                        <div class="nav-outer">
                            <ul class="nav navbar-nav">
                                <li class="active dropdown"> <a href="home.html">Home</a> </li>
                                <li class="hidden-sm"> <a href="category.html">About</a> </li>
                            </ul>
                        </div>
                        <div class="optionsforuser">
                            <a href="adsf"><i class="fa-solid fa-cart-shopping"></i></a>
                            <a href="adsf"><i class="fa-solid fa-box"></i></a>
                            <a href=""><i class="fa-solid fa-heart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- NAVBAR End --}}

</header>
{{!-- Header End --}}


{{!-- Login Form Start --}}
<div class="body-content">
    <div class="">
        <div class="container">
            <div class="sign-in-page">
                <div class="row">
                    <div class="loginouter">
                        <div class="col-md-6 col-sm-6 col-xs-12 sign-in mx-0 " style="border-radius: 5px; box-shadow: 0px 1px 8px 8px #dedede">
                            <div>
                                <div class="verifybody text-center">
                                    <h3 style="padding-top: 2rem;"><strong>Verify your Email</strong></h3>
                                    <form class="register-form outer-top-xs" role="form">
                                         <h5 style="padding-top: 2rem;">Example@gmail.com</h5>
                                         <a href="/otp" class="btn">Verify</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- Login Form End --}}



{{!-- Info Boxes start --}}
<div class="row our-features-box">
    <div class="container">
        <ul>
            <li>
                <div class="feature-box">
                    <div class="icon-truck"></div>
                    <div class="content-blocks">We ship worldwide</div>
                </div>
            </li>
            <li>
                <div class="feature-box">
                    <div class="icon-support"></div>
                    <div class="content-blocks">call
                        +1 800 789 0000</div>
                </div>
            </li>
            <li>
                <div class="feature-box">
                    <div class="icon-money"></div>
                    <div class="content-blocks">Money Back Guarantee</div>
                </div>
            </li>
            <li>
                <div class="feature-box">
                    <div class="icon-return"></div>
                    <div class="content">30 days return</div>
                </div>
            </li>

        </ul>
    </div>
</div>
{{!-- Info Boxes end --}}



{{!-- Footer start --}}
<footer id="footer" class="footer color-bg">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">

                {{!-- contact --}}
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="address-block">

                        <!-- /.module-heading -->

                        <div class="module-body">
                            <ul class="toggle-footer" style="">
                                <li class="media">
                                    <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-mobile fa-stack-1x fa-inverse"></i> </span> </div>
                                    <div class="media-body">
                                        <p>+7034938053</p>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-envelope fa-stack-1x fa-inverse"></i> </span> </div>
                                    <div class="media-body"> <span><a href="#">GamingPink@gmail.com</a></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.module-body -->
                </div>

                {{!-- customer services --}}
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="module-heading">
                        <h4 class="module-title">Customer Service</h4>
                    </div>
                    <!-- /.module-heading -->

                    <div class="module-body">
                        <ul class='list-unstyled'>
                            <li class="first"><a href="#" title="Contact us">My Account</a></li>
                            <li><a href="#" title="About us">Orders</a></li>
                            <li><a href="#" title="faq">FAQ</a></li>
                            <li><a href="#" title="Popular Searches">Cart</a></li>
                            <li class="last"><a href="#" title="Where is my order?">Wishlist</a></li>
                        </ul>
                    </div>
                    <!-- /.module-body -->
                </div>

                {{!-- about us --}}
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="module-heading">
                        <h4 class="module-title">Why Choose US</h4>
                    </div>

                    <div class="module-body">
                        <ul class='list-unstyled'>
                            <li class="first"><a title="Your Account" href="#">About us</a></li>
                            <li><a title="Addresses" href="#">Contact Us</a></li>
                            <li><a title="Information" href="#">Terms and conditions</a></li>
                            <li class="first"><a href="#" title="About us">Checkout</a></li>
                            <li><a href="#" title="Blog">Blog</a></li>
                        </ul>
                    </div>
                </div>

                {{!-- Social media --}}
                <div class="col-xs-12 col-sm-6 col-md-3 no-padding social">
                    <ul class="link">
                        <li class="fb pull-left"><a target="_blank" rel="nofollow" href="#" title="Facebook"></a>
                        </li>
                        <li class="tw pull-left"><a target="_blank" rel="nofollow" href="#" title="Twitter"></a>
                        </li>
                        <li class="googleplus pull-left"><a target="_blank" rel="nofollow" href="#" title="GooglePlus"></a>
                        </li>
                        <li class="rss pull-left"><a target="_blank" rel="nofollow" href="#" title="RSS"></a></li>
                        <li class="pintrest pull-left"><a target="_blank" rel="nofollow" href="#" title="PInterest"></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</footer>
{{!-- Footer End --}}